@import url('https://fonts.googleapis.com/css2?family=Karla:wght@500&family=Lekton:ital,wght@0,400;0,700;1,400&family=Space+Grotesk:wght@300..700&display=swap');
@import "tailwindcss";

body {
    font-family: 'Lekton', monospace;
    overflow: hidden;
    scroll-behavior: smooth;
}

.crt-overlay::after {
    content: "";
    position: absolute;
    top: 0; left: 0; right: 0; bottom: 0;
    background: repeating-linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0.03),
      rgba(255, 255, 255, 0.03) 1px,
      transparent 1px,
      transparent 3px
    );
    pointer-events: none;
    z-index: 1;
  }